@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat+Alternates&family=Montserrat:wght@100&family=Poppins:ital,wght@0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    height: 100vh;
    position: relative;

   
}


#hero-image{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.9);
    background-image: url(../assets/heroBackground.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);

    /* filter: blur(6px); */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#top{
    height: 80%;
    width: 75%;
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    z-index: 300;

}
#right{
    width: 30%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
   


}
#left{
    width: 70% !important;
    height: 100%;
    background-color: rgba(0,0,0,.97);
    /* backdrop-filter: blur(10px); */
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    display: flex;
    align-items: center;
    

}
.menu-list{
    position: absolute;
    left:57%;
    z-index: 500;
}

.navbar-nav a{
    color: green !important;
    font-size: 12px;
    font-weight: 500;
}
#right-pic{
    position: absolute;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

}
#right-pic img{
    /* height: 100%;
    width: 100%; */
    object-fit: contain;
    position: absolute;
    right:-10%;
    width: 250%;



}
#description{
    margin-left: 20px;
    position: relative;
}
#description h1{
    font-size: 45px;
    font-weight: 800;
    color: green;

}
#description h1 span{
    color:orange;
    font-size: 35px;
    /* position: relative; */
    left: 10%;
    font-style: italic;
}
#section2{
    height: 100vh;
    position: relative;

}
#menu-top{
     height: 25%;
     display: flex;
     justify-content: center;
}
#menu-top h2{
    position: relative;
    right: -50%;
    top: 5%;
    font-weight: 800;
}

#menu-button{
    height: 40%;
    width: 20%;
    top:50%;
    position: relative;
    display: flex;

}
#extra{
    width: 50%;
    height: 100%;
    /* background-image: linear-gradient(to right top,tomato 50%, green 50%) ; */
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: 2px solid orange;
}
#pizza{
    width: 50%;
    height: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;


}
#menu{
    height: 80%;
    width: 80%;

}
.card-group{
    height: 100%;
    width: 100%;

}
.card{
    height:60% ;
    margin: 20px;
    border: 1px solid silver;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}
.card-img-top{
    height: 50%;
    width: 100%;
    object-fit: contain;
}
.card-title{
    background-color: green;
    width:50%;
    position: relative;
    left: 30%;
    text-align: center;
    color: white;
}
#add{
    border: 2px solid orange;
    color: orange;
    position: relative;
    right: -80%;
    border-radius: 15px;
    padding: 5px;
}

#delete{
    border: 2px solid orange;
    color: orange;
    position: relative;
    right: 30%;
    border-radius: 15px;
    padding: 5px;
}
#section2Hide{
    display: none;
}
#btnOrder{
    border: 2px solid green;
    width: 15%;
    text-align: center;
    border-radius: 25px;
    color: white;
    padding: 5px;
}

#extras{
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

.menu{
    height: 80%;
    width: 80%;
    background-color: azure;
     display: flex;
    justify-content: center;
}
#num{
    color: red;
    font-size: 12px;
    

}

#toppings{
    width: 100%;
    height: 100%;
    background-color: orange;
}

#extraheading{
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-weight: 800;
}
#crust{
    width: 100%;
    height: 100%;
    background-color: orange;
}

.table{
    position: relative;
    top: -15%;
    left: 28%;
    height: 18%;
}

#oder-summary{
    position: absolute;
    bottom:-190%;
    width: 100%;
    left: 0%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-image: url(../assets/chicken1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.checkout{
    background-color: green;
    color: white;
    width: 100px;
    display: block;
    position: relative;
    top: 5%;
    left:35%;
    padding: 5px;
    text-align: center;

}
#delivery{
    background-color: green;
    color: white;
    padding: 5px;
    width: 100px;
    display: block;
    display: inline;
    margin: 12px;
    border-radius: 25px;
    padding: 10px;
    display: none;



}
#pick{
    background-color: green;
    color: white;
    padding: 5px;
    width: 100px;
    display: inline;
    border-radius: 25px;
    padding: 10px;
    display: none;
    position: relative;
    left: 5%;


}

#formPick{
    display: flex;
    flex-direction: column;
    margin: 15px;
    display: none;
}
#place{
    margin:10px 0, 10px 0;
}
#totals{
    position: relative;
    left: 35%;
}
#charge{
    display: none;
}
.logo{
    position: absolute;
    left: 8%;
    color: green;
    font-size: 35px;
    font-style: italic;
    font-family: 'Hurricane', cursive;
}

.fa-solid{
    color: orange;
     position: absolute;
    left: 100%; 
    top: 25%;
    font-size: 25px;

}




/* @media screen and (max-width:768px){
    #section2{
        position: relative;
    }
    .table{
        position: absolute;
    
    }
} */